#container-5{
    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.79) 2.56%, rgba(24, 36, 79, 0) 100%), #193046;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#fundo {
    
    width: 1052px;
    height: 96px;
    background: #193046;
}

#fundo h2{
    width: 1059px;
    height: 61px;
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 63px;
    text-align: center;
    padding: 15px;
    color: #FFFFFF;
}

#png{
    flex-grow: 0.5;
    margin-top: 50px;}

#png img{
    width: 100%;
    height: 100%;
}

footer {
    width: 600px;
    height: 28px;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;

    text-align: center;
    margin-top: 60px;
}

