header {
  position: relative;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 90px;
  padding-right: 90px;
  background-color: #000;
}
.logo {
  position: relative;
  height: 50px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #000;
}
.menu > ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  color: #ffffff;
  transition: color 0.5s;
}
