main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Didact Gothic";
    padding: 30px 0;
    background: linear-gradient(180deg, rgba(24, 36, 79, 0) 2.56%, #000000 97.43%), #193046;
    flex-grow: 1;
    
  
   }

#retangulo{
    
    width: 350px;
    height: 50px;
    background: #0A1220;
    
}

#retangulo h2 {

    padding-left: 30px;

}
 #container{
     display: flex;
     
 }


#vitordois h2 {
   
    font-size: 2.6rem;
    font-weight: 300;
    color: #FFF9F9;
    font-family: Didact Gothic;
    font-style: normal;
    font-weight: normal;
    line-height: 63px;
    
}


#vitordois p{
    width: 634px;
    font-size: 30px;
    line-height: 39px;
    color: #ffffff;
    padding-left: 30px;
    padding-top: 30px;
}

#foto {
    
    flex-grow: 1;
}

#foto img {
    padding-left: 100px;
    width: 90%;
}